## Part 1: Preprocessing

In [132]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import numpy as np
from tensorflow.keras.models import Model
from tensorflow.keras import layers
from sklearn.preprocessing import OneHotEncoder

#  Import and read the attrition data
attrition_df = pd.read_csv('https://static.bc-edx.com/ai/ail-v-1-0/m19/lms/datasets/attrition.csv')
attrition_df.head(-10)

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,Sales,1,2,Life Sciences,2,94,3,...,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,Research & Development,8,1,Life Sciences,3,61,2,...,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,Research & Development,2,2,Other,4,92,2,...,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,Research & Development,3,4,Life Sciences,4,56,3,...,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,Research & Development,2,1,Medical,1,40,3,...,3,4,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,40,No,Travel_Rarely,Research & Development,2,4,Life Sciences,3,52,2,...,3,4,0,8,2,3,2,2,2,2
1456,35,No,Travel_Frequently,Research & Development,18,4,Life Sciences,3,80,3,...,3,4,2,10,2,4,10,2,0,2
1457,40,No,Travel_Rarely,Research & Development,2,4,Medical,3,98,3,...,3,2,3,20,2,3,5,3,0,2
1458,35,No,Travel_Rarely,Research & Development,1,4,Life Sciences,3,62,1,...,3,4,1,4,5,3,4,3,1,1
1459,29,No,Travel_Rarely,Research & Development,13,2,Other,4,46,2,...,3,1,1,10,2,3,4,3,0,3

In [133]:
# Determine the number of unique values in each column.
attrition_df.nunique()

Age                         43
Attrition                    2
BusinessTravel               3
Department                   3
DistanceFromHome            29
Education                    5
EducationField               6
EnvironmentSatisfaction      4
HourlyRate                  71
JobInvolvement               4
JobLevel                     5
JobRole                      9
JobSatisfaction              4
MaritalStatus                3
NumCompaniesWorked          10
OverTime                     2
PercentSalaryHike           15
PerformanceRating            2
RelationshipSatisfaction     4
StockOptionLevel             4
TotalWorkingYears           40
TrainingTimesLastYear        7
WorkLifeBalance              4
YearsAtCompany              37
YearsInCurrentRole          19
YearsSinceLastPromotion     16
YearsWithCurrManager        18
dtype: int64

In [134]:
# Create y_df with the Attrition and Department columns
y = attrition_df[['Attrition', 'Department']]
y

     Attrition              Department
0          Yes                   Sales
1           No  Research & Development
2          Yes  Research & Development
3           No  Research & Development
4           No  Research & Development
...        ...                     ...
1465        No  Research & Development
1466        No  Research & Development
1467        No  Research & Development
1468        No                   Sales
1469        No  Research & Development

[1470 rows x 2 columns]

In [135]:
# Create a list of at least 10 column names to use as X data
X_columns = list(attrition_df.drop(['Attrition', 'Department', 'RelationshipSatisfaction',
                                    'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
                                    'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole',
                                    'Education', 'EducationField', 'JobRole',
                                    'MaritalStatus', 'OverTime', 'BusinessTravel'], axis=1).columns[:10])

# Create X_df using your selected columns
X_df = attrition_df[X_columns]

# Show the data types for X_df
X_df.dtypes

Age                        int64
DistanceFromHome           int64
EnvironmentSatisfaction    int64
HourlyRate                 int64
JobInvolvement             int64
JobLevel                   int64
JobSatisfaction            int64
NumCompaniesWorked         int64
PercentSalaryHike          int64
PerformanceRating          int64
dtype: object

In [136]:
# Split the data into training and testing sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_df, y)

In [137]:
# Create a StandardScaler
scaler = StandardScaler()

# Fit the StandardScaler to the training data
X_scaler = scaler.fit(X_train)

# Scale the training and testing data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [138]:
# Create a OneHotEncoder for the Department column
encoder = OneHotEncoder(handle_unknown='ignore', sparse_output=False)

# Fit the encoder to the training data
encoder.fit(y_train[['Department']])

# Create two new variables by applying the encoder
# to the training and testing data
y_train_dept = encoder.transform(y_train[['Department']])
y_test_dept = encoder.transform(y_test[['Department']])

In [139]:
# Create a OneHotEncoder for the Attrition column
encoder = OneHotEncoder(handle_unknown='ignore', sparse_output=False)

# Fit the encoder to the training data
encoder.fit(y_train[['Attrition']])

# Create two new variables by applying the encoder
# to the training and testing data
y_train_attrition = encoder.transform(y_train[['Attrition']])
y_test_attrition = encoder.transform(y_test[['Attrition']])

## Create, Compile, and Train the Model

In [140]:
# Find the number of columns in the X training data
input_columns = len(X_train.columns)

# Create the input layer
input_layer = layers.Input(shape=(input_columns,), name='input_features')

# Create at least two shared layers
shared_layer1 = layers.Dense(64, activation='relu', name='shared1')(input_layer)
shared_layer2 = layers.Dense(128, activation='relu', name='shared2')(shared_layer1)

In [141]:

# Create the hidden layer
department_dense = layers.Dense(32, activation='relu', name='department_dense')(shared_layer2)

# Create the output layer
department_output = layers.Dense(3,
                             activation='sigmoid',
                             name='department_output')(department_dense)

In [142]:

# Create the hidden layer
attrition_dense = layers.Dense(32, activation='relu', name='attrition_dense')(shared_layer2)

# Create the output layer
attrition_output = layers.Dense(2,
                             activation='sigmoid',
                             name='attrition_output')(attrition_dense)

In [143]:
# Create the model
predictive_model = Model(inputs=input_layer, outputs=[department_output, attrition_output])

# Compile the model
predictive_model.compile(optimizer='adam',
              loss={'department_output': 'categorical_crossentropy',
                    'attrition_output': 'binary_crossentropy'
                    },
              metrics={'department_output': 'accuracy',
                       'attrition_output': 'accuracy'
                       })

# Summarize the model
predictive_model.summary()

Model: "functional_25"

┏━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━┓
┃ Layer (type)        ┃ Output Shape      ┃    Param # ┃ Connected to      ┃
┡━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━┩
│ input_features      │ (None, 10)        │          0 │ -                 │
│ (InputLayer)        │                   │            │                   │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ shared1 (Dense)     │ (None, 64)        │        704 │ input_features[0… │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ shared2 (Dense)     │ (None, 128)       │      8,320 │ shared1[0][0]     │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ department_dense    │ (None, 32)        │      4,128 │ shared2[0][0]     │
│ (Dense)             │                   │            │                   │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ attrition_dense     │ (None, 32)        │      4,128 │ shared2[0][0]     │
│ (Dense)             │                   │            │                   │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ department_output   │ (None, 3)         │         99 │ department_dense… │
│ (Dense)             │                   │            │                   │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ attrition_output    │ (None, 2)         │         66 │ attrition_dense[… │
│ (Dense)             │                   │            │                   │
└─────────────────────┴───────────────────┴────────────┴───────────────────┘

 Total params: 17,445 (68.14 KB)

 Trainable params: 17,445 (68.14 KB)

 Non-trainable params: 0 (0.00 B)

In [144]:
# Train the model
predictive_model.fit(
    X_train_scaled,
    {
        'department_output': y_train_dept,
        'attrition_output': y_train_attrition
    },
    epochs=10,  # You can adjust the number of epochs based on your needs
    batch_size=32
)

Epoch 1/10

35/35 ━━━━━━━━━━━━━━━━━━━━ 1s 890us/step - attrition_output_accuracy: 0.6830 - department_output_accuracy: 0.6168 - loss: 1.5399
Epoch 2/10
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 807us/step - attrition_output_accuracy: 0.8375 - department_output_accuracy: 0.6494 - loss: 1.2103
Epoch 3/10
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 720us/step - attrition_output_accuracy: 0.8177 - department_output_accuracy: 0.6473 - loss: 1.2052
Epoch 4/10
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 526us/step - attrition_output_accuracy: 0.8238 - department_output_accuracy: 0.6612 - loss: 1.1571
Epoch 5/10
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 478us/step - attrition_output_accuracy: 0.8321 - department_output_accuracy: 0.6790 - loss: 1.1518
Epoch 6/10
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 458us/step - attrition_output_accuracy: 0.8563 - department_output_accuracy: 0.6731 - loss: 1.0894
Epoch 7/10
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 469us/step - attrition_output_accuracy: 0.8487 - department_output_accuracy: 0.6945 - loss: 1.0815
Epoch 8/10
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 495us/step - attrition_output_accuracy: 0.8633 - department_output_accuracy: 0.7172 - loss: 1.0281
Epoch 9/10
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 472us/step - attrition_output_accuracy: 0.8668 - department_output_accuracy: 0.6967 - loss: 1.0239
Epoch 10/10
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 843us/step - attrition_output_accuracy: 0.8505 - department_output_accuracy: 0.7008 - loss: 1.0630

In [145]:
# Evaluate the model with the testing data
test_results = predictive_model.evaluate(X_test, {'department_output': y_test_dept, 'attrition_output': y_test_attrition})
test_results

12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 603us/step - attrition_output_accuracy: 0.8629 - department_output_accuracy: 0.6329 - loss: 14.0627

[14.187333106994629, 0.8505434989929199, 0.64673912525177]

In [146]:
# Print the accuracy for both department and attrition
print(f"Department Accuracy: {test_results[1]}")
print(f"Attrition Accuracy: {test_results[2]}")

Department Accuracy: 0.8505434989929199
Attrition Accuracy: 0.64673912525177

# Summary

In the provided space below, briefly answer the following questions.

1. Is accuracy the best metric to use on this data? Why or why not?

2. What activation functions did you choose for your output layers, and why?

3. Can you name a few ways that this model might be improved?

YOUR ANSWERS HERE

1. Attrition Accuracy is not so good. Confusion Matrix for Multi-Class Classification is worth exploring
2. Sigmoid; The main reason why we use sigmoid function is because it exists between (0 to 1). Therefore, it is especially used for models where we have to predict the probability as an output.Since probability of anything exists only between the range of 0 and 1, sigmoid is the right choice.
3. With additional hidden layers